.showError {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.hideError {
  display: none;
}

.restrictedArea {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.restrictedArea svg {
  margin-left: 5px;
}

.loginWrapper {
  padding: 9rem;
  display: flex;
  place-content: center;
}

.loginArea {
  width: 20rem;
}
.loginArea h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.loginArea h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.loginForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.loginForm button {
  margin-top: 1rem;
}

.inputArea {
  padding: 5px 0;
}

.inputArea input {
  width: 100%;
  font-family: "Old Standard TT", serif;
}
.inputArea label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .loginWrapper {
    padding: 5rem 1rem;
  }
}
