.studentsTable {
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
}

.studentsTable form {
  display: flex;
  place-content: flex-start;
  gap: 1rem;
}
.studentsTable form button {
  place-self: flex-end;
  align-self: center;
  margin-left: 20px;
}

.studentsTable .showSuccess {
  display: contents;
}

.studentsTable label {
  padding: 0;
}

.sectionWrapper h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 1rem 0;
}

.studentsTable th {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a525e;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}

.studentsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.studentsTable td svg {
  margin-right: 5px;
}

.studentsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.studentsTable td:nth-child(n + 5) {
  text-align: center;
}

.studentsTable h1 {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem 0;
}
.representative {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .studentsTable {
    padding: 1rem;
  }

  .studentsTable form {
    display: block;
    padding: 20px;
  }

  .sectionWrapper:nth-of-type(1) #register {
    background-color: #fcfbfb;
  }
  .studentsTable form button {
    margin-left: 0;
    width: auto;
  }
  .studentsTable h2 {
    margin: 0 0 20px;
  }
  .studentsTable h1 {
    margin: 0 0 1rem;
  }
  .sectionWrapper {
    margin: 0 0 40px;
  }

  .studentsTable td,
  .studentsTable th {
    display: block;
    border: none !important;
  }
  .studentsTable tr:nth-of-type(1) {
    display: none;
  }
}
