:root {
  --white: #fff;
  --dark: #242424;
  --green: #b2d9c5;
  --darkGreen: #1a525e;
}

.btn {
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--white);
  color: var(--dark);
  padding: 8px 20px;
  margin: 1rem 0;
  font-size: 16px;
  font-family: "Cormorant Unicase", serif;
}

.btn svg {
  margin-right: 5px;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background: var(--green);
  color: var(--dark);
}

.greenBtn {
  color: var(--white);
  background-color: var(--darkGreen);
}

.darkBtn {
  background-color: var(--dark);
  color: var(--white);
  border: none;
}

.darkBtn:hover {
  background-color: var(--white);
  background: var(--green);
  color: black;
  border: none;
}
