.container {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.border {
  border-bottom: 1px solid black;
  width: 100%;
}

.vertical-container {
  display: flex;
  align-items: center;
}

.vertical-border {
  border-left: 1px solid black;
  height: 8rem;
}

.galleryBorder {
  border-bottom: 1px solid white;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .vertical-container {
    display: none;
  }
}
