.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.border {
  border-bottom: 1px solid black;
  width: 200px;
  /* margin-left: auto; */
}

.vertical-container {
  display: flex;
  align-items: center;
}

.vertical-border {
  border-left: 1px solid black;
  height: 12rem;
}

@media screen and (max-width: 768px) {
  .vertical-container {
    display: none;
  }
}
