.menuWrapper {
  background-color: rgba(252, 247, 248, 0.9);
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menuContainer {
  justify-content: space-around;
  z-index: 1;
  height: 55px;
  padding: 0 4rem;
}

.menuLogo,
.menuLogoMobile {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-size: 25px;
  padding-right: 1rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.menuItems {
  display: flex;
  align-items: center;
  place-content: space-between;
  list-style: none;
  width: 100%;
}

.menuItem {
  padding: 0 1rem;
}

.menuItem:hover {
  border-bottom: 2px solid #1a525e;
}

.menuLink {
  font-size: 18px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 55px;
}

.menuIconMobile {
  display: none;
}

.menuItemsMain {
  display: flex;
  align-items: center;
}
.menuItemsRight {
  align-self: center;
}
.menuItemsRight div {
  padding: 0 0.5rem;
}

.menuItemsRight svg {
  color: black !important;
}

@media screen and (max-width: 991px) {
  .menuWrapper {
    display: flex;
  }

  .menuContainer {
    align-self: center;
    align-items: center;
    width: 100%;
    display: flex;
    height: 3rem;
  }

  .menuIconMobile {
    display: block;
  }

  .menuIconMobile svg {
    color: black !important;
  }

  .menuLogo {
    display: none;
  }
  .menuLogoMobile {
    padding-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .menuItemsMain {
    flex-direction: column;
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    left: -100%;
  }

  .menuItems.active {
    background: #fcf7f8;
    left: 0;
    transition: all 0.9s ease;
    top: 3rem;
  }

  .menuLink {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .menuLink:hover {
    color: #1c2237;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .menuItem:hover {
    border: none;
  }

  .menuItem {
    width: 100%;
  }

  .menuIconMobile {
    display: flex;
    place-content: space-between;
    font-size: 1.8rem;
    cursor: pointer;
    width: 100%;
  }
}
