/* form {
  width: 300px;
} */

.form-input {
  padding: 10px 0 0;
}

.form-input:last-of-type {
  padding-bottom: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

input {
  border: 1px solid #f2f2f2;
  font-family: "Old Standard TT", serif;
  padding: 5px;
}

.showError,
.showSuccess {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.hideError,
.hideSuccess {
  display: none;
}
