.testCase {
  background-image: url("https://pbstyledk.files.wordpress.com/2022/05/menino-grupo.jpg");
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.home__hero-section {
  color: #fff;
  padding: 160px 0;
}

.imageSplit {
  align-items: center;
  display: flex;
  flex-direction: "row";
}
.VideoAreaWrapper {
  align-items: center;
  display: flex;
  flex-direction: "row";
  flex-direction: row-reverse;
}

.home-row-reverse {
  flex-direction: row-reverse;
}

.row {
  padding: 0 200px;
  margin: auto;
  padding: 80px 0;
}

.rowVideo {
  padding: 0 0 80px;
  display: flex;
  flex-direction: row;
}

.reverseRow {
  flex-direction: row-reverse;
}

.imageSplitWrapper {
  padding: 0 16rem;
}
.col {
  padding: 3rem;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.col2 {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 100%;
  flex-basis: 100%;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.preheading {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.heading {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 3rem;
  color: black;
}

.heading2 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 2rem;
}

.dark {
  color: #1c2237;
}

.darkBg {
  /* background-color: #1c2237; */
  background-color: #f5f5f5;
  /* background-color: #fcfbfb; */
  /* background-color: #fff; */
}

.lightBg {
  /* background-color: #1c2237; */
  background-color: #fff;
}

.home__hero-subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: "ExtraLight 200";
  padding: 5px 0;
  font-size: 14px;
}

.subDescription {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.subheading {
  font-family: "Montserrat", sans-serif;
  font-style: "ExtraLight 200";
  padding: 20px 0;
  font-size: 12px;
}

.home__hero-img-wrapper {
  width: 100%;
}

.col img {
  max-width: 100%;
  max-height: 100%;
  /* filter: grayscale(50%); */
}

@media screen and (max-width: 991px) {
  /* @media screen and (max-width: 768px) { */
  .imageSplit {
    display: flex;
    flex-direction: column-reverse;
  }

  .rowVideo {
    padding: 0;
    flex-direction: column-reverse;
  }

  .row {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .heading {
    margin: 0;
    font-size: 2rem;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
    padding: 1rem;
  }
  .imageSplitWrapper {
    padding: 0;
  }
}
