.testCase {
  background-image: url("https://pbstyledk.files.wordpress.com/2022/05/menino-grupo.jpg");
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.home__hero-section {
  color: #fff;
  padding: 160px 0;
}

.imageSplit {
  align-items: center;
  place-content: center;
  display: flex;
  flex-direction: "row";
  gap: 3rem;
}
.textSplit {
  display: flex;
  padding: 5rem 0;
  gap: 3rem;
  align-items: center;
}

.textQuote {
  text-align: center;
  padding: 6rem 0 0;
}

.imageSplitWrapper:last-child {
  padding-bottom: 5rem;
}
.VideoAreaWrapper {
  align-items: center;
  display: flex;
  flex-direction: "row";
  flex-direction: row-reverse;
}

.quoteCenter {
  text-align: center;
}

.home-row-reverse {
  flex-direction: row-reverse;
}

.rowVideo {
  padding: 5rem 20rem 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #f5f5f5; */
}

.reverseRow {
  flex-direction: row-reverse;
}

.imageSplitWrapper {
  padding: 0 20rem;
}
.videoSplitWrapper {
  padding: 0;
  background-color: white;
  /* background-color: #f5f5f5; */
}
.colText {
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.colTextOnly1 {
  max-width: 50%;
  flex-basis: 50%;
  display: flex;
  align-self: start;
}
.colTextOnly2 {
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.middleText {
  display: flex;
  gap: 3rem;
}

.colImg {
  flex-basis: 50%;
}

.col2 {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 100%;
  flex-basis: 100%;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.openQuote {
  font-family: "Cormorant Unicase", serif;
  font-size: 4rem;
}
.preheading {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-size: 2rem;
}

.heading {
  font-family: "Cormorant Unicase", serif;
  /* font-family: "Cormorant Infant", serif; */
  font-weight: 400;
  font-size: 3rem;
  color: black;
}

.heading2 {
  /* font-family: "Cormorant Unicase", serif; */
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-size: 2rem;
}
.headingSecondaryText {
  /* font-family: "Cormorant Unicase", serif; */
  font-family: "Cormorant Garamond", serif;

  color: black;
  font-weight: 400;
  font-size: 20px;
}
.headingSecondarySub {
  font-family: "Cormorant Unicase", serif;

  color: #808080;
  font-weight: 400;
  font-size: 14px;
}
.openQuoteWrapper {
  display: flex;
}

.dark {
  color: #1c2237;
}

.darkBg {
  /* background-color: #1c2237; */
  background-color: #f5f5f5;
  /* background-color: #fcfbfb; */
  /* background-color: #fff; */
}

.lightBg {
  /* background-color: #1c2237; */
  background-color: #fff;
}
.introNumbers {
  font-family: "Cormorant Infant", serif;
}
.introWrapper {
  padding: 1rem 0;
}

.blocks124,
.block3,
.formSubtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.donateBtn {
  margin-right: 1rem;
}
.heroSub {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.subDescription {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 20px 0;
  font-size: 12px;
}

.home__hero-img-wrapper {
  width: 100%;
}

.home__hero-text-wrapper {
  margin: auto;
  border: 1px solid #f2f2f2;
  padding: 2rem;
}
.firstText {
}

.colImg img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 991px) {
  /* @media screen and (max-width: 768px) { */
  .imageSplit {
    display: flex;
    flex-direction: column-reverse;
    align-items: initial;
  }
  .textSplit {
    gap: 0;
    padding: 0;
  }

  .rowVideo {
    padding: 0;
    flex-direction: column-reverse;
    gap: 0;
  }

  .row {
    flex-direction: column;
  }

  .col {
    margin: 0 1rem;
  }
  .heading {
    margin: 0;
    font-size: 2rem;
  }

  .colText {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .imageSplitWrapper {
    padding: 0;
    margin: 1rem;
  }

  .colTextOnly2 {
    flex-flow: column;
    max-width: 100%;
    padding-bottom: 1rem;
  }

  .colTextOnly1 {
    max-width: 100%;
  }

  .middleText {
    flex-flow: wrap;
    gap: 0;
  }

  .middleText div {
    padding-bottom: 1rem;
  }

  .VideoAreaWrapper img {
    width: 100%;
  }
  .colImg {
    padding: 0;
  }
  .imageSplitWrapper:last-child {
    padding-bottom: 2rem;
  }

  .textQuote {
    padding: 0;
  }

  .home__hero-text-wrapper {
    border: none;
  }
}
