.footer-container {
  background-color: #1c2237;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px 0 0; */
  margin-top: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

.footer-container a {
  color: white;
}
.footer-container p {
  font-weight: 200;
  font-size: 14px;
}
.footer-container h3 {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 200;
}

.footer-info {
  width: 100%;
  justify-content: space-between;
  /* max-width: 1000px; */
  display: flex;
  /* justify-content: center; */
}

.footer-link-wrapper {
  display: flex;
}

.footer-links-wrapper {
  display: flex;
  justify-self: flex-end;
}
.footer-link-items {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

/* Social Icons */
.social-icon-link {
  font-size: 24px;
  color: white;
}

.social-media {
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  margin: 0 4rem;
}

.website-rights {
  margin: 0 4rem;
}
.footer-logo {
  height: 90px;
  margin-right: 10px;
}

@media screen and (max-width: 820px) {
  .footer-container {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }
  .footer-info {
    padding-top: 2rem;
    flex-direction: column;
  }

  .footer-logo {
    height: 3rem;
  }

  .footer-link-items {
    padding: 20px 0;
  }

  .footer-container h3 {
    margin: 0 0 5px;
  }

  .btn {
    width: auto;
    margin: 1rem 0;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }
  .footer-links-wrapper {
    flex-flow: column;
  }

  .social-media-wrap {
    flex-direction: column-reverse;
  }
  .website-rights {
    margin: 1rem;
  }
}
