.footerContainer {
  background-color: #213438;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  color: white;
}

.footerContainer a {
  color: white;
}

.footerContainer p {
  font-weight: 200;
  font-size: 16px;
}

.footerContainer h3 {
  font-family: "Cormorant Unicase", serif;
  color: white;
  font-weight: 200;
  margin: 0 0 15px;
  font-size: 18px;
}

.footerInfo {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.footerLinksWrapper {
  display: flex;
  justify-self: flex-end;
}

.footerLinkItems {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

.soMeLink {
  font-size: 24px;
  color: white;
}

.soMeArea {
  width: 100%;
}

.soMeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.soMeIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  margin: 0 4rem;
}

.devRights {
  margin: 0 4rem;
  font-family: "Roboto", sans-serif;
}

.footerLogo {
  height: 90px;
  margin-right: 10px;
}

@media screen and (max-width: 820px) {
  .footerContainer {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }

  .footerInfo {
    padding-top: 2rem;
    flex-direction: column;
  }

  .footerLogo {
    height: 3rem;
  }

  .footerLinkItems {
    padding: 20px 0;
  }

  .footerContainer h3 {
    margin: 0 0 5px;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .footerLinksWrapper {
    flex-flow: column;
  }

  .soMeWrapper {
    flex-direction: column-reverse;
  }

  .devRights {
    margin: 1rem;
  }
}
